*.o
*.so
*.so.*

# python caches
__pycache__/
*.pyc
.pytest_cache/

# generated docs / build output
*.html
*.pdf
chapters-html.txt
pdf-bookmarks.txt

Stas Bekman - The Art of Debugging.epub
Stas Bekman - The Art of Debugging.pdf

trash/
the-art-of-debugging-book
book-front.md
